body {
  font-family: "Sofia Sans Semi Condensed", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
  background-image: linear-gradient(to left, #92c7d5, #349dba);
}

.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(3px);
}
.notes-container {
  background-color: white;
  text-align: left;
  margin: 7em auto;
  max-width: 850px;
  padding: 1em;
  display: block;
}
box-icon {
  margin: 0.5em;
  cursor: pointer;
}
.tools {
  display: flex;
}
.close-note {
  margin-left: auto;
}
.note {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}

section {
  display: flex;
  align-items: center;
  flex-direction: column;
  color: #9b9c9c;
}
button {
  margin-top: 5px;
  cursor: pointer;
  font-size: 24px;
  padding: 0.5em 2.25em;
  border-radius: 0.5em;
  font-weight: 700;
  color: white;
  border: none;
  background-color: #9ec862;
}

button:hover {
  background-color: #7ba146;
}

.modal-tools {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 1em;
}
.modal-container > input {
  background-color: transparent;
}
.note-content {
  width: 96%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.title-note {
  background-color: transparent;
  border: none;
  font-size: 24px;
  padding-left: 0.5em;
}
.dash {
  border: 1px solid #9b9c9c;
  width: 100%;
  margin: 0.4em auto;
}

.note-text-holder {
  text-transform: capitalize;
  font-size: 18px;
  background-color: #d8e2e2;
  font-weight: bolder;
  align-self: center;
  border-radius: 6px;
  border: none;
  width: 100%;
  opacity: 0.3;
  resize: none;
}

.modal-container {
  padding: 0.5em;
  max-width: 700px;
  margin: 8em auto;
  background-color: #ffffff;
  border-radius: 0.5em;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 24px;
  }
  .notes-container {
    margin: 5em auto;
  }
}
@media screen and (min-width: 1024px) {
  .notes-container {
    margin: 1em auto;
  }
}
/* Do pizdy ale wkurwial mnie scroll */
.title-note:focus {
  outline: none;
}

.note-date-container {
  font-size: 16px;
  margin: 0;
}

.note-title-container {
  font-size: 22px;
  margin: 0;
  color: rgb(92, 92, 92);
}
img {
  max-width: 60%;
}
.note-container {
  cursor: pointer;
  max-width: 40em;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
  background-color: rgba(239, 235, 235, 0.979);
  margin: 0.2em;
}
